﻿<div class="shell-fullpage-wrapper text-center" style="background-color: {{cardItem.backColor}};">
    <ion-content direction="y" scrollbar-y="true;" has-bouncing="true">
        <div class="demo-card-content no-header">
            <h1>Narrow card</h1>
            <span>(without header)</span>
            <br /><br /><br />
            <div>Scroll down</div>
            <div>to see</div>
            <div>more content</div>
            <br /><br /><br /><br /><br /><br />
            <div>more</div>
            <br /><br /><br /><br /><br /><br />
            <div>more</div>
            <br /><br /><br /><br /><br /><br />
            <div>and more</div>
            <br /><br /><br /><br /><br /><br />
            <span style="font-size: 8px;">-- the end --</span>
        </div>
    </ion-content>
</div>