﻿<div class="shell-fullpage-wrapper text-center" style="background-color: {{cardItem.backColor}}">
    <div class="demo-card-content extra-large">
        <h4>This is a</h4>
        <h1>wide card</h1>
        <span>(without header)</span>
        <br/><br/>
        <span>Explore the overlay tabs at the bottom</span>
    </div>
    <shell-overlay show-text="Explore">
        <shell-tab>
            <tab-heading>
                <span class="shell-ot-caption">ALPHA</span> <span class="count">9999</span> <span class="suffix">| LAST 12 HRS</span>
            </tab-heading>
            <tab-content>
                <h1> Content of Alpha </h1>
                <br /><br /><br />
                <div>Scroll down</div>
                <div>to see</div>
                <div>more content</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>and more</div>
                <br /><br /><br /><br />
                <span>-- the end --</span>
            </tab-content>
        </shell-tab>

        <shell-tab>
            <tab-heading>
                <span class="shell-ot-caption">BETA</span> <span class="count">999</span> <span class="suffix">| LAST 12 HRS</span>
            </tab-heading>
            <tab-content>
                <h1> Content of Beta </h1>
                <br /><br /><br />
                <div>Scroll down</div>
                <div>to see</div>
                <div>more content</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>and more</div>
                <br /><br /><br /><br />
                <span>-- the end --</span>
            </tab-content>
        </shell-tab>

        <shell-tab>
            <tab-heading>
                <span class="shell-ot-caption">CHARLIE</span> <span class="count">10</span> <span class="suffix">| LAST 12 HRS</span>
            </tab-heading>
            <tab-content>
                <h1> Content of Charlie </h1>
                <br /><br /><br />
                <div>Scroll down</div>
                <div>to see</div>
                <div>more content</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>and more</div>
                <br /><br /><br /><br />
                <span>-- the end --</span>
            </tab-content>
        </shell-tab>

        <shell-tab>
            <tab-heading>
                <span class="shell-ot-caption">DELTA</span> <span class="count">99</span> <span class="suffix">| LAST 12 HRS</span>
            </tab-heading>
            <tab-content>
                <h1> Content of Delta </h1>
                <br /><br /><br />
                <div>Scroll down</div>
                <div>to see</div>
                <div>more content</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>more</div>
                <br /><br /><br /><br />
                <div>and more</div>
                <br /><br /><br /><br />
                <span>-- the end --</span>
            </tab-content>
        </shell-tab>
    </shell-overlay>
</div>