﻿<div class="shell-fullpage-wrapper text-center" style="background-color: {{cardItem.backColor}};">
    <ion-content direction="y" scrollbar-y="true;" has-bouncing="true">
        <div class="demo-card-content">
            <h1>Narrow card</h1>
            <span>(with fixed view)</span>
            <br /><br /><br />
            <div>Scroll down</div>
            <div>to see</div>
            <div>more content</div>
            <br /><br />
            <div>Use</div>
            <button class="demo-button">
                <ng-include src="'app/shared/widgets/icons/close.html'"></ng-include>
            </button>
            <div>to close</div>
            <br /><br /><br /><br />
            <span style="font-size: 8px;">-- the end --</span>
        </div>
    </ion-content>
</div>