﻿.demo-button {
    cursor: pointer;
    border: 0;
    height: 25px;
    width: 25px;
    background-color: rgba(0, 0, 0, 0.15);
    margin-top: 4px;
    padding: 0;

    svg {
        height: 60%;
        width: 60%;
        margin-top: 3px;

        path, polygon, rect {
            fill: #ffffff;
        }
    }
}

.demo-card-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 185px;
    transform: scale(2);
    width: 300px;

    &.extra-large {
        transform: scale(4);
    }

    &.no-header {
        height: 140px;
    }

    h1, h2, h3, h4, h5, h6, span, div {
        color: #fff;
    }
}
