﻿.demo-button {
  cursor: pointer;
  border: 0;
  height: 25px;
  width: 25px;
  background-color: rgba(0, 0, 0, 0.15);
  margin-top: 4px;
  padding: 0;
}
.demo-button svg {
  height: 60%;
  width: 60%;
  margin-top: 3px;
}
.demo-button svg path,
.demo-button svg polygon,
.demo-button svg rect {
  fill: #ffffff;
}
.demo-card-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 185px;
  transform: scale(2);
  width: 300px;
}
.demo-card-content.extra-large {
  transform: scale(4);
}
.demo-card-content.no-header {
  height: 140px;
}
.demo-card-content h1,
.demo-card-content h2,
.demo-card-content h3,
.demo-card-content h4,
.demo-card-content h5,
.demo-card-content h6,
.demo-card-content span,
.demo-card-content div {
  color: #fff;
}
/*# sourceMappingURL=demo.css.map */