﻿@import (reference) '../shared/theme.less';

.shell-fullpage-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.shell-back-drop {
    background-color: @color-1;
}

.shell-hold-content {
    position: relative;
    vertical-align: top;
    display: inline-block;
    height: 100%;

    .shell-content-wrapper {
        position: absolute;
        top: 80px;
        bottom: 0;
        width: 100%;
    }
}

@side-menu-width: 100px;

.shell-side-menu {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    width: @side-menu-width;
    margin: auto;
    box-shadow: 5px 0 0 0 rgba(red(@color-1), green(@color-1), blue(@color-1),.35);
    z-index: 3;

    &.shell-with-hub-menu {
        box-shadow: none;
    }

    ul.shell-sticky-logo {
        list-style: none;
        padding: 0;

        li {
            width: 100%;
            height: 80px;
            padding: 10px;

            &:hover {
                background-color: @color-2;

                svg path {
                    fill: #e9e9e9;
                }
            }
        }

        .shell-logo-container {
            height: 60px;
            width: 60px;
            margin: auto;

            svg path {
                fill: #ffffff;
            }
        }
    }

    .shell-icon-item {
        .shell-logo-container {
            height: 40px;
            width: 40px;
            margin: auto;

            svg {
                path, rect, polygon {
                    fill: #ffffff;
                }
            }
        }
    }

    .shell-more-icons {
        position: absolute;
        height: 60px;
        background-color: rgba(0,0,0,0);
        color: rgba(0,0,0,0.3);
        width: 100%;
        text-align: center;
        font-size: 44px;
        line-height: 60px;
        cursor: pointer;

        &.shell-top {
            top: -1px;
            color: rgba(0,0,0,0.5);
            /*background: -webkit-linear-gradient(top, rgba(56, 56, 57, 0.5), rgba(101, 35, 35, 0));*/
        }

        &.shell-bottom {
            bottom: 0;
            background: -webkit-linear-gradient(bottom, rgba(56, 56, 57, 0.5), rgba(101, 35, 35, 0));
        }
    }

    .shell-action-icon {
        cursor: pointer;
    }

    .shell-content-wrapper .item {
        cursor: pointer;
        background-color: transparent;

        &.active {
            background-color: @color-1;
        }

        &:hover {
            .bg-color-op(@color-1, 0.4);
        }

        &:active {
            .bg-color-op(@color-1, 0.8);
        }
    }
}


@hub-pane-width: 300px;

.shell-hub-pane {
    top: 0;
    bottom: 0;
    left: @side-menu-width;
    width: @hub-pane-width;
    margin: auto;
    position: absolute;
    box-shadow: 5px 0 0 0 rgba(red(@color-1), green(@color-1), blue(@color-1),.35);
    z-index: 2;
    transform: translate3d(-@hub-pane-width, 0, 0);
    background-color: @color-1;
    opacity: 0;

    &.shell-open {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        z-index: 3;
    }

    @search-bar-height: 60px;

    .shell-search-blocker {
        height: @search-bar-height;
        width: 100%;
        background-color: rgba(0,0,0,0.3);
        z-index: 1;
        position: absolute;
    }

    .shell-search-bar {
        .input-group-addon {
            background-color: transparent;
            border: 0;
            color: #ffffff;
            font-size: 30px;
            padding-left: 15px;

            &.shell-acn-close {
                font-size: 20px;
                padding-right: 15px;
                cursor: pointer;
            }
        }

        input {
            width: 100%;
            height: 60px;
            /*padding: 5px;*/
            color: #ffffff;
            font-size: 20px;

            &::-webkit-input-placeholder {
                color: rgba(0, 0, 0, 0.5);
                line-height: normal;
            }

            &.shell-notext {
                padding-right: 10px;
            }
        }
    }

    .shell-content-wrapper {
        top: 0;

        &.shell-with-search-bar {
            top: @search-bar-height;
        }

        .item {
            cursor: pointer;

            &:hover {
                .bg-color-op(@color-1, 0.4);
            }

            &:active {
                .bg-color-op(@color-1, 0.8);
            }
        }
    }
}

.shell-content-pane {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%; // Enable to prevent content shrinking when menu / pane is visible
    margin: auto;
    background-color: @color-0;
    transition: 125ms cubic-bezier(.2, .3, .25, .9) all;
    z-index: 3;

    &.shell-with-side-menu {
        /*transition: 150ms cubic-bezier(.2, .3, .25, .9) all;*/
        z-index: 2;
        transform: translate3d(@side-menu-width, 0, 0);

        &.shell-with-hub-pane {
            z-index: 2;
            transform: translate3d(@side-menu-width + @hub-pane-width, 0, 0);
        }
    }

    .shell-trigger-menu {
        width: 60px;
        height: 60px;
        padding: 5px;
        margin: 10px;
        z-index: 100;
        position: relative;
        cursor: pointer;
        background-color: #333;

        svg path {
            fill: #fff;
        }

        &:hover {
            //background-color: @color-3;
            svg path {
                fill: #fff;
            }
        }
    }

    .shell-empty-content {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 200px;
        width: 400px;
        z-index: 0;

        .shell-app-name {
            margin: 5px;
            color: @color-1;
        }

        .shell-logo-container {
            height: 100px;
            width: 100px;
            margin: auto;
            opacity: 0.6;

            .shell-app-logo {
                path {
                    fill: @color-1;
                }

                polygon {
                    fill: @color-1;
                }
            }
        }
    }

    .shell-with-content {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;

        .shell-content {
            &.ng-enter {
                opacity: 0;
                transition: 0.1s ease-in opacity;

                &.ng-enter-active {
                    opacity: 1;
                }
            }
        }

        .scroll-content .scroll {
            height: 100%;
        }

        .shell-card-list {
            position: relative;
            white-space: nowrap;
            overflow: visible;
            padding: 0;
            margin: 0;
            height: 100%;

            &.amscrolling {
                li.shell-card-item {
                    -moz-transform: scale(0.85);
                    -ms-transform: scale(0.85);
                    -o-transform: scale(0.85);
                    -webkit-transform: scale(0.85);
                    transform: scale(0.85);
                }
            }

            &.focused-mode {
                & > .shell-card-item {
                    margin: 0 50px 0 75px;

                    &.shell-out-of-focus {
                        transform: scale(0.85);
                        opacity: 0.5;
                        margin: 0;
                    }
                }
            }

            & > .shell-card-item {
                position: relative;
                background-color: #eee;
                white-space: normal;
                vertical-align: top;
                display: inline-block;
                height: 100%;
                -webkit-transition: width .3s ease-out;
                -moz-transition: width .3s ease-out;
                -ms-transition: width .3s ease-out;
                -o-transition: width .3s ease-out;
                transition: width .3s ease-out;
                border-right: 1px solid @color-1;
                -moz-animation: shell-card-enter 0.3s;
                -o-animation: shell-card-enter 0.3s;
                -webkit-animation: shell-card-enter 0.3s;
                animation: shell-card-enter 0.3s;
                transition: transform ease-in 0.2s;

                &.shell-card-deleted {
                    animation: shell-card-leave 0.3s;
                }

                &.shell-bar {
                    width: 75px;
                }

                &.shell-narrow {
                    width: 25%;
                }

                &.shell-wide {
                    width: 100%;
                }

                @shell-card-header-height: 100px;

                .shell-card-header {
                    height: @shell-card-header-height;
                    width: 100%;
                    background-color: @color-2;

                    .with-side-menu {
                        margin-left: 60px;
                    }

                    .shell-card-title {
                        padding-left: 10px;
                        font-size: 20px;
                        font-weight: 200;
                        /*line-height: 28px;*/
                        color: #ffffff;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        text-transform: uppercase;
                        opacity: 0.7;
                        padding-top: 3px;
                        display: inline-block;
                        padding-top: 5px;
                        cursor: pointer;
                    }

                    .shell-buttons-box {
                        margin-right: -15px;

                        button {
                            cursor: pointer;
                            border: 0;
                            height: 30px;
                            width: 40px;
                            background-color: transparent;
                            margin-top: 4px;
                            margin-left: 6px;
                            padding: 0;
                            opacity: .5;

                            &:hover {
                                opacity: 1;
                            }

                            .svg-wrapper {
                                height: 25px;

                                svg {
                                    height: 100%;
                                    width: 100%;

                                    path, polygon, rect {
                                        fill: #ffffff;
                                    }
                                }
                            }
                        }
                    }
                }

                .shell-card-loader {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    height: 20px;
                }

                .shell-card-content {
                    position: absolute;
                    top: @shell-card-header-height;
                    bottom: 0;
                    left: 0;
                    right: 0;

                    &.shell-no-header {
                        top: 0;
                    }

                    @shell-bar-header-height: 150px;

                    .shell-bar-backdrop {
                        position: absolute;
                        background-color: @color-2;
                        height: @shell-bar-header-height;
                        width: 100%;
                    }

                    .shell-bar-header {
                        transform: rotate(90deg);
                        text-align: left;
                        color: #fff;
                        top: 37px;
                        position: absolute;
                        height: 75px;
                        width: @shell-bar-header-height;
                        margin-left: -38px;
                        line-height: 75px;
                        padding-left: 15px;
                        background-color: @color-2;
                        text-transform: uppercase;
                    }

                    .shell-bar-icon-scroll {
                        top: @shell-bar-header-height;

                        item {
                            width: 100%;
                        }

                        .shell-logo-container {
                            width: 90%;
                            text-align: center;

                            svg {
                                path, rect, polygon {
                                    fill: #ffffff;
                                }
                            }
                        }
                    }
                }

                .scroll-content {
                    //top: @shell-card-header-height;
                    .item {

                        h3 {
                            font-size: 24px;
                        }
                    }
                }

                .shell-overlay {
                    position: absolute;
                    height: 75%;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    z-index: 10;
                    transition: 0.3s ease transform;
                    /*cursor: pointer;*/
                    transform: translateY(~"calc(100% - 75px)");

                    .shell-overlay-backdrop {
                        background-color: rgba(238, 238, 238, 0.7); /*rgba(12, 2, 2, 0.19);*/
                        height: 100%;

                        &.ng-enter {
                            opacity: 0;
                            transition: 0.1s ease-out opacity;

                            &.ng-enter-active {
                                opacity: 1;
                            }
                        }
                    }

                    .btn-action {
                        color: #ffffff;
                        background-color: #3498DB;
                        border: none;
                        border-radius: 0;
                        /*width: 75px;*/
                        margin: 0 20px 20px 0;

                        &:hover, &:focus {
                            //background-color: #A1D9CC;
                        }

                        &:active, &.active {
                            background-color: #6EC4B1;
                        }
                    }

                    .shell-overlay-trigger {
                        width: 100%;

                        .btn-show {
                            cursor: pointer;
                            width: 150px;
                            left: 0;
                            right: 0;
                            margin: auto;
                            background-color: rgba(0,0,0,0.15);
                            padding: 10px;

                            svg {
                                height: 14px;
                                width: 14px;

                                rect {
                                    fill: #ffffff;
                                }
                            }

                            div {
                                display: inline-block;

                                &.caption {
                                    line-height: 16px;
                                    margin-right: 5px;
                                    color: #fff;
                                }
                            }
                        }
                    }

                    ul.shell-tab-headers {
                        width: ~"calc(100% - 100px)";
                        list-style: none;
                        cursor: pointer;
                        height: 75px;

                        li {
                            width: 25%;
                            float: left;
                            line-height: 75px;
                            border-left: 0px solid #ddd;
                            padding-left: 10px;
                            font-size: 20px;
                            text-align: center;
                            height: 100%;

                            span.shell-ot-caption {
                                font-weight: 200;
                                font-size: 25px;
                                color: rgba(52, 152, 219,.75);
                            }

                            span.count {
                                font-weight: 700;
                                font-size: 25px;
                                color: #3498DB;
                            }

                            span.suffix {
                                font-weight: 200;
                                font-size: 25px;
                                color: #999;
                            }
                        }
                    }

                    &.shell-overlay-expanded {
                        transform: translateY(0);
                        /*height: 75%;*/
                        /*background-color: rgba(238, 238, 238, 0.7);*/
                        ul.shell-tab-headers {
                            height: 75px;
                            /*background-color: #F3F3F3;*/
                            li.shell-active {
                                background-color: #2980B9; /*#3498DB;*/
                                span.shell-ot-caption {
                                    font-weight: 200;
                                    font-size: 25px;
                                    color: #ffffff;
                                }

                                span.count {
                                    font-weight: 700;
                                    font-size: 25px;
                                    color: #ffffff;
                                }

                                span.suffix {
                                    font-weight: 200;
                                    font-size: 25px;
                                    color: #ffffff;
                                }

                                &:first-child {
                                    /*border-left: 5px solid rgba(114, 174, 214, 0.94);*/
                                }
                            }
                        }
                    }

                    ul.shell-overlay-controls {
                        position: absolute;
                        top: 0;
                        height: 77px;
                        right: 0;
                        width: 100px;
                        list-style: none;

                        li {
                            width: 50%;
                            float: left;
                            height: 50%;

                            button {
                                width: 100%;
                                height: 100%;
                                border: 0;
                                border-radius: 0;

                                i {
                                    font-size: 20px;
                                    line-height: 1px;

                                    &.big {
                                        font-size: 30px;
                                    }
                                }
                            }
                        }
                    }

                    .shell-tab-content {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        top: 75px;
                        right: 0;
                        background-color: #2980B9;
                        /*border-left: 5px solid rgba(114, 174, 214, 0.94);*/
                    }

                    .shell-overlay-tabheader {
                        cursor: pointer;
                        background-color: red;
                    }

                    .shell-tab {
                        display: none;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        top: 0;
                        right: 0;
                        background-color: #2980B9;

                        &.shell-active {
                            display: block;
                        }

                        .shell-content {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            top: 0;
                            right: 0;
                            margin: 40px;
                            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
                            /* box-shadow: 0 0 20px rgba(0,0,0,.2); */
                            background-color: #eee;

                            .shell-content-header {
                                height: 60px;
                                line-height: 45px;
                                margin: 0;
                                background-color: #3498DB;

                                .name {
                                    font-size: 24px;
                                    color: #ffffff;
                                    font-weight: 200;
                                }
                            }

                            .scroll-content {
                                top: 65px;

                                & .scroll > div {
                                    font-size: 24px;
                                    line-height: 36px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
