﻿.shell-fullpage-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.shell-back-drop {
  background-color: #494949;
}
.shell-hold-content {
  position: relative;
  vertical-align: top;
  display: inline-block;
  height: 100%;
}
.shell-hold-content .shell-content-wrapper {
  position: absolute;
  top: 80px;
  bottom: 0;
  width: 100%;
}
.shell-side-menu {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  margin: auto;
  box-shadow: 5px 0 0 0 rgba(73, 73, 73, 0.35);
  z-index: 3;
}
.shell-side-menu.shell-with-hub-menu {
  box-shadow: none;
}
.shell-side-menu ul.shell-sticky-logo {
  list-style: none;
  padding: 0;
}
.shell-side-menu ul.shell-sticky-logo li {
  width: 100%;
  height: 80px;
  padding: 10px;
}
.shell-side-menu ul.shell-sticky-logo li:hover {
  background-color: #656565;
}
.shell-side-menu ul.shell-sticky-logo li:hover svg path {
  fill: #e9e9e9;
}
.shell-side-menu ul.shell-sticky-logo .shell-logo-container {
  height: 60px;
  width: 60px;
  margin: auto;
}
.shell-side-menu ul.shell-sticky-logo .shell-logo-container svg path {
  fill: #ffffff;
}
.shell-side-menu .shell-icon-item .shell-logo-container {
  height: 40px;
  width: 40px;
  margin: auto;
}
.shell-side-menu .shell-icon-item .shell-logo-container svg path,
.shell-side-menu .shell-icon-item .shell-logo-container svg rect,
.shell-side-menu .shell-icon-item .shell-logo-container svg polygon {
  fill: #ffffff;
}
.shell-side-menu .shell-more-icons {
  position: absolute;
  height: 60px;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.3);
  width: 100%;
  text-align: center;
  font-size: 44px;
  line-height: 60px;
  cursor: pointer;
}
.shell-side-menu .shell-more-icons.shell-top {
  top: -1px;
  color: rgba(0, 0, 0, 0.5);
  /*background: -webkit-linear-gradient(top, rgba(56, 56, 57, 0.5), rgba(101, 35, 35, 0));*/
}
.shell-side-menu .shell-more-icons.shell-bottom {
  bottom: 0;
  background: -webkit-linear-gradient(bottom, rgba(56, 56, 57, 0.5), rgba(101, 35, 35, 0));
}
.shell-side-menu .shell-action-icon {
  cursor: pointer;
}
.shell-side-menu .shell-content-wrapper .item {
  cursor: pointer;
  background-color: transparent;
}
.shell-side-menu .shell-content-wrapper .item.active {
  background-color: #494949;
}
.shell-side-menu .shell-content-wrapper .item:hover {
  background-color: rgba(73, 73, 73, 0.4);
}
.shell-side-menu .shell-content-wrapper .item:active {
  background-color: rgba(73, 73, 73, 0.8);
}
.shell-hub-pane {
  top: 0;
  bottom: 0;
  left: 100px;
  width: 300px;
  margin: auto;
  position: absolute;
  box-shadow: 5px 0 0 0 rgba(73, 73, 73, 0.35);
  z-index: 2;
  transform: translate3d(-300px, 0, 0);
  background-color: #494949;
  opacity: 0;
}
.shell-hub-pane.shell-open {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  z-index: 3;
}
.shell-hub-pane .shell-search-blocker {
  height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  position: absolute;
}
.shell-hub-pane .shell-search-bar .input-group-addon {
  background-color: transparent;
  border: 0;
  color: #ffffff;
  font-size: 30px;
  padding-left: 15px;
}
.shell-hub-pane .shell-search-bar .input-group-addon.shell-acn-close {
  font-size: 20px;
  padding-right: 15px;
  cursor: pointer;
}
.shell-hub-pane .shell-search-bar input {
  width: 100%;
  height: 60px;
  /*padding: 5px;*/
  color: #ffffff;
  font-size: 20px;
}
.shell-hub-pane .shell-search-bar input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  line-height: normal;
}
.shell-hub-pane .shell-search-bar input.shell-notext {
  padding-right: 10px;
}
.shell-hub-pane .shell-content-wrapper {
  top: 0;
}
.shell-hub-pane .shell-content-wrapper.shell-with-search-bar {
  top: 60px;
}
.shell-hub-pane .shell-content-wrapper .item {
  cursor: pointer;
}
.shell-hub-pane .shell-content-wrapper .item:hover {
  background-color: rgba(73, 73, 73, 0.4);
}
.shell-hub-pane .shell-content-wrapper .item:active {
  background-color: rgba(73, 73, 73, 0.8);
}
.shell-content-pane {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  background-color: #323232;
  transition: 125ms cubic-bezier(0.2, 0.3, 0.25, 0.9) all;
  z-index: 3;
}
.shell-content-pane.shell-with-side-menu {
  /*transition: 150ms cubic-bezier(.2, .3, .25, .9) all;*/
  z-index: 2;
  transform: translate3d(100px, 0, 0);
}
.shell-content-pane.shell-with-side-menu.shell-with-hub-pane {
  z-index: 2;
  transform: translate3d(400px, 0, 0);
}
.shell-content-pane .shell-trigger-menu {
  width: 60px;
  height: 60px;
  padding: 5px;
  margin: 10px;
  z-index: 100;
  position: relative;
  cursor: pointer;
  background-color: #333;
}
.shell-content-pane .shell-trigger-menu svg path {
  fill: #fff;
}
.shell-content-pane .shell-trigger-menu:hover svg path {
  fill: #fff;
}
.shell-content-pane .shell-empty-content {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 200px;
  width: 400px;
  z-index: 0;
}
.shell-content-pane .shell-empty-content .shell-app-name {
  margin: 5px;
  color: #494949;
}
.shell-content-pane .shell-empty-content .shell-logo-container {
  height: 100px;
  width: 100px;
  margin: auto;
  opacity: 0.6;
}
.shell-content-pane .shell-empty-content .shell-logo-container .shell-app-logo path {
  fill: #494949;
}
.shell-content-pane .shell-empty-content .shell-logo-container .shell-app-logo polygon {
  fill: #494949;
}
.shell-content-pane .shell-with-content {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.shell-content-pane .shell-with-content .shell-content.ng-enter {
  opacity: 0;
  transition: 0.1s ease-in opacity;
}
.shell-content-pane .shell-with-content .shell-content.ng-enter.ng-enter-active {
  opacity: 1;
}
.shell-content-pane .shell-with-content .scroll-content .scroll {
  height: 100%;
}
.shell-content-pane .shell-with-content .shell-card-list {
  position: relative;
  white-space: nowrap;
  overflow: visible;
  padding: 0;
  margin: 0;
  height: 100%;
}
.shell-content-pane .shell-with-content .shell-card-list.amscrolling li.shell-card-item {
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
}
.shell-content-pane .shell-with-content .shell-card-list.focused-mode > .shell-card-item {
  margin: 0 50px 0 75px;
}
.shell-content-pane .shell-with-content .shell-card-list.focused-mode > .shell-card-item.shell-out-of-focus {
  transform: scale(0.85);
  opacity: 0.5;
  margin: 0;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item {
  position: relative;
  background-color: #eee;
  white-space: normal;
  vertical-align: top;
  display: inline-block;
  height: 100%;
  -webkit-transition: width 0.3s ease-out;
  -moz-transition: width 0.3s ease-out;
  -ms-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
  border-right: 1px solid #494949;
  -moz-animation: shell-card-enter 0.3s;
  -o-animation: shell-card-enter 0.3s;
  -webkit-animation: shell-card-enter 0.3s;
  animation: shell-card-enter 0.3s;
  transition: transform ease-in 0.2s;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item.shell-card-deleted {
  animation: shell-card-leave 0.3s;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item.shell-bar {
  width: 75px;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item.shell-narrow {
  width: 25%;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item.shell-wide {
  width: 100%;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-card-header {
  height: 100px;
  width: 100%;
  background-color: #656565;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-card-header .with-side-menu {
  margin-left: 60px;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-card-header .shell-card-title {
  padding-left: 10px;
  font-size: 20px;
  font-weight: 200;
  /*line-height: 28px;*/
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  opacity: 0.7;
  padding-top: 3px;
  display: inline-block;
  padding-top: 5px;
  cursor: pointer;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-card-header .shell-buttons-box {
  margin-right: -15px;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-card-header .shell-buttons-box button {
  cursor: pointer;
  border: 0;
  height: 30px;
  width: 40px;
  background-color: transparent;
  margin-top: 4px;
  margin-left: 6px;
  padding: 0;
  opacity: .5;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-card-header .shell-buttons-box button:hover {
  opacity: 1;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-card-header .shell-buttons-box button .svg-wrapper {
  height: 25px;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-card-header .shell-buttons-box button .svg-wrapper svg {
  height: 100%;
  width: 100%;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-card-header .shell-buttons-box button .svg-wrapper svg path,
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-card-header .shell-buttons-box button .svg-wrapper svg polygon,
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-card-header .shell-buttons-box button .svg-wrapper svg rect {
  fill: #ffffff;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-card-loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 20px;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-card-content {
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-card-content.shell-no-header {
  top: 0;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-card-content .shell-bar-backdrop {
  position: absolute;
  background-color: #656565;
  height: 150px;
  width: 100%;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-card-content .shell-bar-header {
  transform: rotate(90deg);
  text-align: left;
  color: #fff;
  top: 37px;
  position: absolute;
  height: 75px;
  width: 150px;
  margin-left: -38px;
  line-height: 75px;
  padding-left: 15px;
  background-color: #656565;
  text-transform: uppercase;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-card-content .shell-bar-icon-scroll {
  top: 150px;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-card-content .shell-bar-icon-scroll item {
  width: 100%;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-card-content .shell-bar-icon-scroll .shell-logo-container {
  width: 90%;
  text-align: center;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-card-content .shell-bar-icon-scroll .shell-logo-container svg path,
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-card-content .shell-bar-icon-scroll .shell-logo-container svg rect,
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-card-content .shell-bar-icon-scroll .shell-logo-container svg polygon {
  fill: #ffffff;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .scroll-content .item h3 {
  font-size: 24px;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay {
  position: absolute;
  height: 75%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: 0.3s ease transform;
  /*cursor: pointer;*/
  transform: translateY(calc(100% - 75px));
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay .shell-overlay-backdrop {
  background-color: rgba(238, 238, 238, 0.7);
  /*rgba(12, 2, 2, 0.19);*/
  height: 100%;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay .shell-overlay-backdrop.ng-enter {
  opacity: 0;
  transition: 0.1s ease-out opacity;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay .shell-overlay-backdrop.ng-enter.ng-enter-active {
  opacity: 1;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay .btn-action {
  color: #ffffff;
  background-color: #3498DB;
  border: none;
  border-radius: 0;
  /*width: 75px;*/
  margin: 0 20px 20px 0;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay .btn-action:active,
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay .btn-action.active {
  background-color: #6EC4B1;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay .shell-overlay-trigger {
  width: 100%;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay .shell-overlay-trigger .btn-show {
  cursor: pointer;
  width: 150px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 10px;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay .shell-overlay-trigger .btn-show svg {
  height: 14px;
  width: 14px;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay .shell-overlay-trigger .btn-show svg rect {
  fill: #ffffff;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay .shell-overlay-trigger .btn-show div {
  display: inline-block;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay .shell-overlay-trigger .btn-show div.caption {
  line-height: 16px;
  margin-right: 5px;
  color: #fff;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay ul.shell-tab-headers {
  width: calc(100% - 100px);
  list-style: none;
  cursor: pointer;
  height: 75px;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay ul.shell-tab-headers li {
  width: 25%;
  float: left;
  line-height: 75px;
  border-left: 0px solid #ddd;
  padding-left: 10px;
  font-size: 20px;
  text-align: center;
  height: 100%;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay ul.shell-tab-headers li span.shell-ot-caption {
  font-weight: 200;
  font-size: 25px;
  color: rgba(52, 152, 219, 0.75);
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay ul.shell-tab-headers li span.count {
  font-weight: 700;
  font-size: 25px;
  color: #3498DB;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay ul.shell-tab-headers li span.suffix {
  font-weight: 200;
  font-size: 25px;
  color: #999;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay.shell-overlay-expanded {
  transform: translateY(0);
  /*height: 75%;*/
  /*background-color: rgba(238, 238, 238, 0.7);*/
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay.shell-overlay-expanded ul.shell-tab-headers {
  height: 75px;
  /*background-color: #F3F3F3;*/
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay.shell-overlay-expanded ul.shell-tab-headers li.shell-active {
  background-color: #2980B9;
  /*#3498DB;*/
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay.shell-overlay-expanded ul.shell-tab-headers li.shell-active span.shell-ot-caption {
  font-weight: 200;
  font-size: 25px;
  color: #ffffff;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay.shell-overlay-expanded ul.shell-tab-headers li.shell-active span.count {
  font-weight: 700;
  font-size: 25px;
  color: #ffffff;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay.shell-overlay-expanded ul.shell-tab-headers li.shell-active span.suffix {
  font-weight: 200;
  font-size: 25px;
  color: #ffffff;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay.shell-overlay-expanded ul.shell-tab-headers li.shell-active:first-child {
  /*border-left: 5px solid rgba(114, 174, 214, 0.94);*/
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay ul.shell-overlay-controls {
  position: absolute;
  top: 0;
  height: 77px;
  right: 0;
  width: 100px;
  list-style: none;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay ul.shell-overlay-controls li {
  width: 50%;
  float: left;
  height: 50%;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay ul.shell-overlay-controls li button {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay ul.shell-overlay-controls li button i {
  font-size: 20px;
  line-height: 1px;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay ul.shell-overlay-controls li button i.big {
  font-size: 30px;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay .shell-tab-content {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 75px;
  right: 0;
  background-color: #2980B9;
  /*border-left: 5px solid rgba(114, 174, 214, 0.94);*/
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay .shell-overlay-tabheader {
  cursor: pointer;
  background-color: red;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay .shell-tab {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background-color: #2980B9;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay .shell-tab.shell-active {
  display: block;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay .shell-tab .shell-content {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  margin: 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  /* box-shadow: 0 0 20px rgba(0,0,0,.2); */
  background-color: #eee;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay .shell-tab .shell-content .shell-content-header {
  height: 60px;
  line-height: 45px;
  margin: 0;
  background-color: #3498DB;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay .shell-tab .shell-content .shell-content-header .name {
  font-size: 24px;
  color: #ffffff;
  font-weight: 200;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay .shell-tab .shell-content .scroll-content {
  top: 65px;
}
.shell-content-pane .shell-with-content .shell-card-list > .shell-card-item .shell-overlay .shell-tab .shell-content .scroll-content .scroll > div {
  font-size: 24px;
  line-height: 36px;
}
/*# sourceMappingURL=home.css.map */