﻿.shell-fullpage-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.shell-splash-content {
  position: absolute;
  width: 460px;
  height: 245px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.shell-splash-content svg path {
  fill: #494949;
}
.shell-logo-container {
  height: 100px;
  width: 100px;
  margin: auto;
}
.shell-app-name {
  color: #494949;
  font-weight: 400;
  margin: 10px 0 20px 0;
  letter-spacing: 3px;
}
/*# sourceMappingURL=start.css.map */