﻿<link href="/app/styles/shell/modules/start.min.css" rel="stylesheet" />
<div class="shell-fullpage-wrapper shell-color-3">
    <div class="shell-splash-content text-center shell-popappear">
        <div class="shell-logo-container">
            <ng-include src="'app/shared/widgets/icons/logo.html'" class="shell-fade-animation"></ng-include>
        </div>
        <h1 class="shell-app-name" ng-bind="appName"></h1>
        <div class="shell-loader9"></div>
        <br />
        <h4 ng-bind="counter"></h4>
    </div>
</div>
