﻿@import (reference) '../shared/theme.less';

body {
    background-color: @color-3;
}

body, input, textarea, select, button, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
    -webkit-font-feature-settings: "liga", "kern";
    font-feature-settings: "liga", "kern";
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.hcenter {
    margin-left: auto;
    margin-right: auto;
}

.shell-popappear {
    /*-webkit-animation: popappear .5s forwards;*/
    -webkit-animation-duration: .5s;
    -webkit-animation-name: sh-popappear;
    -webkit-animation-timing-function: ease-in;
}


.shell-popappear-notrace {
    -webkit-animation-duration: .3s;
    -webkit-animation-name: sh-popappear-quick;
    -webkit-animation-timing-function: ease-in;


    &.ng-leave {
        /*z-index: 101;*/
        opacity: 0;
        display: none;
    }

    &.ng-leave-active {
        opacity: 0;
    }
}

.shell-appear {
    -webkit-animation-duration: .3s;
    -webkit-animation-name: shell-appear;
    -webkit-animation-timing-function: ease-in;
}