﻿@color-0: #323232;
@color-1: #494949;
@color-2: #656565;
@color-3: #656565;
@color-4: #f8f8f8;
@color-5: #f2f2f2;

.shell-color-1 {
    background-color: @color-1;
}

.bg-color-op(@color, @opacity) {
    background-color: rgba(red(@color), green(@color), blue(@color), @opacity);
}

.shell-color-2 {
    background-color: @color-2;
}

.shell-color-3 {
    background-color: @color-3;
}

.shell-color-4 {
    background-color: @color-4;
}

.shell-color-5 {
    background-color: @color-5;
}

.shell-btn-action {
    color: #ffffff;
    background-color: @color-1;
    border-color: @color-3;
    border-radius: 0;
    width: 75px;

    &:hover, &:focus {
        background-color: @color-3;
    }

    &.active, &:active {
        background-color: @color-2;
    }
}
