.shell-color-1 {
  background-color: #494949;
}
.shell-color-2 {
  background-color: #656565;
}
.shell-color-3 {
  background-color: #656565;
}
.shell-color-4 {
  background-color: #f8f8f8;
}
.shell-color-5 {
  background-color: #f2f2f2;
}
.shell-btn-action {
  color: #ffffff;
  background-color: #494949;
  border-color: #656565;
  border-radius: 0;
  width: 75px;
}
.shell-btn-action:hover,
.shell-btn-action:focus {
  background-color: #656565;
}
.shell-btn-action.active,
.shell-btn-action:active {
  background-color: #656565;
    .shell-btn-action:active {
        background-color: #656565;
    }

.shell-opacity80 {
    opacity: 0.8;
}
/*# sourceMappingURL=theme.css.map */