﻿<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     style="height: 100%; width: 100%;" viewBox="0 0 18.566 22.773" style="enable-background:new 0 0 18.566 22.773;"
     xml:space="preserve">
<g>
<path style="fill-rule:evenodd;clip-rule:evenodd;" d="M13.665,0c0.053,0,0.106,0,0.162,0c0.13,1.606-0.483,2.806-1.228,3.675
		    c-0.731,0.863-1.732,1.7-3.351,1.573c-0.108-1.583,0.506-2.694,1.25-3.561C11.188,0.879,12.453,0.16,13.665,0z" />
<path style="fill-rule:evenodd;clip-rule:evenodd;" d="M18.566,16.716c0,0.016,0,0.03,0,0.045
		    c-0.455,1.378-1.104,2.559-1.896,3.655c-0.723,0.995-1.609,2.334-3.191,2.334c-1.367,0-2.275-0.879-3.676-0.903
		    c-1.482-0.024-2.297,0.735-3.652,0.926c-0.155,0-0.31,0-0.462,0c-0.995-0.144-1.798-0.932-2.383-1.642
		    C1.581,19.033,0.248,16.323,0,12.855c0-0.34,0-0.679,0-1.019c0.105-2.482,1.311-4.5,2.914-5.478
		    c0.846-0.52,2.009-0.963,3.304-0.765C6.773,5.679,7.34,5.869,7.837,6.057c0.471,0.181,1.06,0.502,1.618,0.485
		    c0.378-0.011,0.754-0.208,1.135-0.347c1.116-0.403,2.21-0.865,3.652-0.648c1.733,0.262,2.963,1.032,3.723,2.22
		    c-1.466,0.933-2.625,2.339-2.427,4.74C15.714,14.688,16.982,15.964,18.566,16.716z" />
    </g>
</svg>
