﻿<svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="height: 100%; width: 100%;">
    <g transform="matrix(0.27098764,0,0,0.27098764,0.3432077,0.3432085)"
       id="g3061">
        <rect width="56.564915"
              height="56.564915"
              x="4.9567127"
              y="4.9567266"
              id="rect3035"
               />
        <rect width="56.564915"
              height="56.564915"
              x="66.478363"
              y="4.9567266"
              id="rect3037"
              />
        <rect width="56.564915"
              height="56.564915"
              x="4.9567127"
              y="66.478355"
              id="rect3039"
               />
        <rect width="56.564915"
              height="56.564915"
              x="66.478363"
              y="66.478355"
              id="rect3041"
             />
    </g>
</svg>

