<link href="/app/styles/shell/modules/home.min.css" rel="stylesheet" />

<div class="shell-fullpage-wrapper shell-back-drop">
    <div class="shell-fullpage-wrapper shell-popappear">
        <!-- SIDE MENU Begins -->
        <aside class="shell-side-menu shell-hold-content shell-color-3" ng-class="{ 'shell-open' : flag.sideMenuOpen, 'shell-with-hub-menu' : flag.hubPaneOpen}">
            <ul class="shell-sticky-logo">
                <li style="cursor: pointer" ng-click="didAppIconClick(false)">
                    <div class="shell-logo-container">
                        <ng-include class="shell-app-logo" src="'app/shared/widgets/icons/logo.html'"></ng-include>
                    </div>
                </li>
            </ul>
            <shell-nav-list delegate-handle="shell-icon-scroll">
                <shell-nav-item ng-repeat="actionIconItem in iconList track by $index" on-select="didActionIconClick(actionIconItem, $index)">
                    <ng-include src="actionIconItem.templateName"></ng-include>
                    <div ng-if="$index > 2" style="margin-top: -35px; width: 100%; text-align: center; color: #fff; font-weight: 600;">{{$index}}</div>
                </shell-nav-item>
            </shell-nav-list>
        </aside>
        <!--SIDE MENU Ends -->
        <!-- HUB PANE Begins -->
        <aside class="shell-hub-pane shell-hold-content shell-color-4" ng-class="{ 'shell-open' : flag.hubPaneOpen }">
            <div class="shell-search-blocker" ng-if="!searchBar.enabled && state.hubPane.searchEnabled"></div>
            <div class="shell-search-bar input-group shell-color-2" ng-if="state.hubPane.searchEnabled">
                <span class="input-group-addon"><i class="ion-ios7-search"></i></span>
                <input class="shell-color-2" type="text" ng-class="{'shell-notext' : (searchBar.query == '')}" placeholder="{{searchBar.enabled ? 'Search ' + active.sectionName : 'Not available'}}" ng-model="searchBar.query" />
                <span class="input-group-addon shell-acn-close" ng-hide="searchBar.query == ''" ng-click="didSearchReset()"><i class="ion-ios7-close-outline"></i></span>
            </div>
            <div class="shell-content-wrapper" ng-switch="active.sectionName" ng-class="{'shell-with-search-bar' : state.hubPane.searchEnabled}">
                <!-- Hub Pane's content goes here -->
                <h4 class="text-center">Hub Pane Content</h4>
            </div>
        </aside>
        <!-- HUB PANE Ends -->
        <!-- CONTENT PANE Begins -->
        <section class="shell-content-pane" ng-class="{ 'shell-with-side-menu' : flag.sideMenuOpen, 'shell-with-hub-pane' : flag.hubPaneOpen }">
            <div class="shell-logo-container shell-trigger-menu shell-appear-animation" ng-click="didAppIconClick(true)" ng-if="!flag.sideMenuOpen">
                <ng-include class="shell-app-logo" src="'app/shared/widgets/icons/logo.html'"></ng-include>
            </div>
            <div class="shell-empty-content">
                <div class="shell-logo-container">
                    <ng-include class="shell-app-logo" src="'app/shared/widgets/icons/logo.html'"></ng-include>
                </div>
                <h1 class="shell-app-name text-center">EventsArray</h1>
            </div>
            <div class="shell-with-content" ng-if="!flag.emptyContent">
                <!-- Content Pane's content goes here -->

                <div class="shell-content" style="height: 100%;">
                    <shell-card-list delegate-handle="shell-wide-scroll" focused-mode="cardListFocusedMode">
                        <shell-card-item ng-repeat="(cardIndex, cardItem) in data.cardArray track by $index" card-index="cardIndex" card-controls="cardItem.controls" card-title="cardItem.title" card-size="cardItem.size" card-has-barview="cardItem.hasBarView" card-has-narrowview="cardItem.hasNarrowView" card-has-wideview="cardItem.hasWideView" on-delete="didCardDeleteClick(cardItem, $index)">
                            <div ng-if="cardItem.type == 'events'" ng-include="'app/modules/events/events.html'"></div>
                        </shell-card-item>
                    </shell-card-list>
                </div>

            </div>
        </section>
        <!-- CONTENT PANE Ends -->
    </div>
</div>
