<header>
    <h1 style="background-color: #cc0000;">{{title}}</h1>
    <h6>by {{author}} at {{datePosted}}</h6>
    <button ng-click="didPostLike($parent.$index)">Like</button>
</header>

<div ng-transclude class='post-body'>
</div>