﻿<link href="/app/styles/eventsarray/events.min.css" rel="stylesheet" />

<div class="shell-fullpage-wrapper text-center">
    <ion-content direction="y" has-bouncing="true" scrollbar-y="true">
        <div class="row">
            <div class="col-md-12">
                <ul class="ea-timeline" ng-class="{'narrow-view' : cardItem.size == 'narrow'}">
                    <li ng-repeat="eventItem in cardItem.data.eventsList track by $index">
                        <div class="ea-timeline-date">
                            <div class="ea-month-year">
                                <div class="ea-month" ng-cloak>{{eventItem.eventDate.month}}</div>
                                <div class="ea-year" ng-cloak>{{eventItem.eventDate.year}}</div>
                            </div>
                            <div class="ea-date" ng-cloak>{{eventItem.eventDate.date}}</div>
                        </div>
                        <div class="ea-timeline-badge">
                            <i class="ion-android-clock" title="Now" id=""></i>
                        </div>
                        <div class="ea-timeline-panel">
                            <div class="ea-news-item" ng-repeat="newsItem in eventItem.news track by $index">
                                <a href="" ng-href="{{newsItem.link}}" target="blank">{{newsItem.title}}</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</div>