﻿<ion-item class="shell-no-border shell-action-icon" ng-class="{ 'active' : active, 'shell-transparent' : !active }" ng-click="didSelect()">
    <div class="shell-icon-item">
        <div class="shell-logo-container" ng-transclude></div>
    </div>
</ion-item>

