﻿<div class="shell-content-wrapper">
    <ion-content direction="y" has-bouncing="true" scrollbar-y="false" on-scroll="didIconScroll()">
        <ion-list ng-transclude></ion-list>
    </ion-content>
    <div class="shell-more-icons shell-top" ng-if="flag.moreOnTop" ng-click="didIconScrollToTopClick()"><i class="ion-chevron-up"></i></div>
    <div class="shell-more-icons shell-bottom" ng-if="flag.moreOnBottom" ng-click="didIconScrollToBottomClick()"><i class="ion-chevron-down"></i></div>
</div>
