﻿<li class="shell-tab-header" ng-class="{ 'shell-active' : active, disabled: disabled}" ng-click="didTabselect()" data-index="{{$parent.index}}">
    <div shell-tab-heading-transclude>{{heading}}</div>
</li>