﻿<ion-content direction="x" scrollbar-x="true;" has-bouncing="true" has-child-scroll="true" >
    <ul class="shell-card-list" ng-class="{'focused-mode': focusedMode}" ng-transclude></ul>
</ion-content>