﻿<div class="shell-overlay" ng-class="{ 'shell-overlay-expanded' : state.mode == 'expanded', 'shell-overlay-collapsed': state.mode == 'collapsed' }">
    <div class="shell-overlay-trigger" ng-if="state.mode == 'minimized'">
        <div class="btn-show" ng-click="didShowClick()">
            <div class="caption">{{showText}}</div>
            <div style="background-image: url('/app/shared/widgets/icons/overlay.svg'); background-size: 13px 13px; height: 13px; width: 13px;"></div>
        </div>
    </div>
    <div class="shell-overlay-backdrop" ng-if="state.mode != 'minimized'">
        <ul class="shell-tab-headers" ng-transclude></ul>
        <ul class="shell-overlay-controls">
            <li>
                <button ng-click="didExpandClick()" ng-if="state.mode == 'collapsed'" class="btn btn-action"><i class="ion-ios7-arrow-up"></i></button>
                <button ng-click="didCollapseClick()" ng-if="state.mode == 'expanded'" class="btn btn-action"><i class="ion-ios7-arrow-down"></i></button>
            </li>
            <li><button ng-click="didHideClick()" class="btn btn-action"><i class="ion-ios7-close-empty big"></i></button></li>
            <li><button ng-click="didMoveRightClick()" class="btn btn-action"><i class="ion-ios7-arrow-right"></i></button></li>
            <li>
                <button ng-click="didAutoPlayToggle()" ng-if="!state.autoplay" class="btn btn-action"><i class="ion-ios7-play-outline"></i></button>
                <button ng-click="didAutoPlayToggle()" ng-if="state.autoplay" class="btn btn-action"><i class="ion-ios7-pause"></i></button>
            </li>
        </ul>
        <div class="shell-tab-content" ng-show="state.mode == 'expanded'">
            <div class="shell-tab" ng-repeat="tab in tabs" ng-class="{ 'shell-active': tab.active}">
                <div class="shell-content" ng-hide2="email.viewerVisible">
                    <div class="row shell-content-header">
                        <div class="col-md-12 text-left">
                            <span class="name">Header Text</span>
                        </div>
                    </div>
                    <ion-content has-bouncing="true" direction="y" scrollbar-y="true;">
                        <div shell-tab-content-transclude="tab"></div>
                    </ion-content>
                </div>
            </div>
        </div>
    </div>
</div>