﻿<li class="shell-card-item" ng-class="{ 'shell-wide' : cardSize == 'wide', 'shell-narrow' : cardSize == 'narrow', 'shell-bar' : cardSize == 'bar', 'shell-out-of-focus': !focused }">
    <div class="shell-card-header" ng-if="cardControls">
        <div class="row">
            <div class="col-md-9">
                <div ng-class="{'with-side-menu' : (!$parent.$parent.flag.sideMenuOpen && cardIndex == 0) }" style="margin-top: 5px;">
                    <div class="shell-buttons-box" ng-if="(cardHasWideview || cardHasNarrowview) && cardSize != 'bar'" style="width: 30px; margin: 0; padding: 0; display: inline-block;">
                        <button ng-click="didFocusToggleClick()">
                            <div class="svg-wrapper" ng-if="!focused" ng-include src="'app/shared/widgets/icons/normal.html'"></div>
                            <div class="svg-wrapper" ng-if="focused" ng-include src="'app/shared/widgets/icons/focus.html'"></div>
                        </button>
                    </div>
                    <div class="shell-card-title" ng-if="(cardSize != 'bar')" ng-bind="cardTitle" ng-click="didFocusToggleClick()"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="shell-buttons-box pull-right">
                    <button ng-click="didCloseClick()" class="pull-right" ng-if="(cardSize != 'bar')">
                        <div class="svg-wrapper" ng-include src="'app/shared/widgets/icons/close.html'"></div>
                    </button>
                    <button ng-click="didCollapseClick()" ng-if="cardHasNarrowview && cardSize == 'wide'" class="pull-right">
                        <div class="svg-wrapper" ng-include src="'app/shared/widgets/icons/collapse.html'"></div>
                    </button>
                    <button ng-click="didExpandClick()" ng-if="cardHasWideview && cardSize == 'narrow'" class="pull-right">
                        <div class="svg-wrapper" ng-include src="'app/shared/widgets/icons/expand.html'"></div>
                    </button>
                    <button ng-click="didMinimizeClick()" class="pull-right" ng-if="cardHasBarview && cardSize != 'bar'">
                        <div class="svg-wrapper" ng-include src="'app/shared/widgets/icons/bar.html'"></div>
                    </button>
                    <button ng-click="didRestoreClick()" class="pull-right" ng-if="cardHasBarview && cardSize == 'bar'">
                        <div class="svg-wrapper" ng-include src="'app/shared/widgets/icons/restore.html'"></div>
                    </button>
                </div>
            </div>
        </div> <!-- /.row -->
    </div>
    <div class="shell-card-content" ng-class="{ 'shell-no-header' : !cardControls }">
        <ng-transclude />
    </div>
</li>