﻿<shell-card-list delegate-handle="shell-wide-scroll">
    <shell-card-item ng-repeat="(cardIndex, cardItem) in colorList track by $index" card-item="cardItem" card-index="cardIndex" on-delete="didCardDeleteClick(cardItem, $index)">
        <div>
            <ion-content direction="y" scrollbar-y="true;" has-bouncing="true">
                <ion-list>
                    <ion-item style="padding: 0" ng-repeat="item in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30] track by $index">
                        <h3><div style="padding: 16px; color: #ffffff; background-color: {{cardItem}}">{{cardItem}} - {{$index}}</div></h3>
                    </ion-item>
                </ion-list>
            </ion-content>
        </div>
    </shell-card-item>
</shell-card-list>