﻿<ion-content direction="x" scrollbar-x="true;" has-bouncing="true" delegate-handle="bladeListScroll" has-child-scroll="true" ng-switch="active.sectionName">
    <ul class="shell-card-list">
        <li class="shell-card-item" ng-repeat="url in ['http://www.microsoft.com/', 'http://www.apple.com', 'http://www.engadget.com', 'http://www.wired.com'] track by $index">
            <div style="padding: 100px;">
                <h2><span style="background-color: {{color}}">{{color}}</span></h2>
                <ion-content direction="y" scrollbar-y="true;" has-bouncing="true" overflow-scroll="true">
                    <iframe ng-src="{{getUrl(url)}}" style="height: 100%; width: 100%;"></iframe>
                </ion-content>
            </div>
        </li>
    </ul>
</ion-content>