﻿<ion-content direction="x" scrollbar-x="true;" has-bouncing="true" delegate-handle="bladeListScroll" has-child-scroll="true" ng-switch="active.sectionName">
    <ul class="shell-card-list">
        <li class="shell-card-item" ng-repeat="color in ['red', 	'blue', 	'yellow', 	'green']">
            <div style="padding: 100px;">
                <h2><span style="background-color: {{color}}">{{color}}</span></h2>
                <ion-content direction="y" scrollbar-y="true;" has-bouncing="true">
                    <ion-list>
                        <ion-item ng-repeat="item in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30] track by $index">
                            <h3><span style="background-color: {{color}}">{{color}} - {{$index}}</span></h3>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </div>
        </li>
    </ul>
</ion-content>