﻿@import (reference) '../../styles/shell/shared/theme.less';

ul.ea-timeline {
    list-style: none;
    position: relative;
    padding: 20px 0 20px;
    margin: 40px 0;


    @timeline-position: 11%;

    &:before {
        @timeline-width: 4px;
        @timeline-color: @color-2; //#176e95;
        position: absolute;
        top: 30px;
        bottom: 120px;
        content: " ";
        width: @timeline-width;
        .bg-color-op(#9e9e9e, 0.3);
        left: @timeline-position;
        margin-left: -@timeline-width/2;
    }

    > li {
        margin-bottom: 40px;
        position: relative;
        min-height: 60px;
        overflow: hidden;

        &:before, &:after {
            content: " ";
            display: table;
        }

        > .ea-timeline-date {
            position: relative;
            float: left;
            width: 10%;

            .ea-month-year {
                display: inline-block;

                > .ea-month {
                    font-size: 20px;
                    font-weight: 500;
                    letter-spacing: 2px;
                    .color-op(#9e9e9e, 0.8);
                }

                > .ea-year {
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 2px;
                    .color-op(#9e9e9e, 1);
                }
            }

            .ea-date {
                display: inline-block;
                font-size: 48px;
                font-weight: 600;
                text-align: right;
                .color-op(#9e9e9e, 0.6);
            }
        }

        > .ea-timeline-badge {
            @badge-size: 24px;
            position: absolute;
            height: @badge-size;
            width: @badge-size;
            margin-left: -@badge-size/2;
            text-align: center;
            left: @timeline-position;
            top: 0;
            border-radius: 100%;
            padding: 2px;
            .bg-color-op(#9e9e9e, 0.8); //#42adda;
            i {
                font-size: 16px;
                color: #ffffff;

                &:before {
                }
            }
        }

        > .ea-timeline-panel {
            position: relative;
            float: right;
            width: 88%;
            text-align: left;
            padding-left: 40px;
            margin-top: -10px;

            .ea-news-item {
                margin: 10px 0;

                a {
                    color: @color-0;
                    font-size: 16px;
                }
            }
        }
    }

    &.narrow-view {
        @narrow-timeline-position: 31%;
        margin-left: 15px; // narrow
        &:before {
            left: @narrow-timeline-position;
        }

        > li {
            > .ea-timeline-date {
                width: 26%;
            }

            > .ea-timeline-badge {
                left: @narrow-timeline-position;
            }

            > .ea-timeline-panel {
                width: 70%;
            }
        }
    }
}
