﻿ul.ea-timeline {
  list-style: none;
  position: relative;
  padding: 20px 0 20px;
  margin: 40px 0;
}
ul.ea-timeline:before {
  position: absolute;
  top: 30px;
  bottom: 120px;
  content: " ";
  width: 4px;
  background-color: rgba(158, 158, 158, 0.3);
  left: 11%;
  margin-left: -2px;
}
ul.ea-timeline > li {
  margin-bottom: 40px;
  position: relative;
  min-height: 60px;
  overflow: hidden;
}
ul.ea-timeline > li:before,
ul.ea-timeline > li:after {
  content: " ";
  display: table;
}
ul.ea-timeline > li > .ea-timeline-date {
  position: relative;
  float: left;
  width: 10%;
}
ul.ea-timeline > li > .ea-timeline-date .ea-month-year {
  display: inline-block;
}
ul.ea-timeline > li > .ea-timeline-date .ea-month-year > .ea-month {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  color: rgba(158, 158, 158, 0.8);
}
ul.ea-timeline > li > .ea-timeline-date .ea-month-year > .ea-year {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #9e9e9e;
}
ul.ea-timeline > li > .ea-timeline-date .ea-date {
  display: inline-block;
  font-size: 48px;
  font-weight: 600;
  text-align: right;
  color: rgba(158, 158, 158, 0.6);
}
ul.ea-timeline > li > .ea-timeline-badge {
  position: absolute;
  height: 24px;
  width: 24px;
  margin-left: -12px;
  text-align: center;
  left: 11%;
  top: 0;
  border-radius: 100%;
  padding: 2px;
  background-color: rgba(158, 158, 158, 0.8);
}
ul.ea-timeline > li > .ea-timeline-badge i {
  font-size: 16px;
  color: #ffffff;
}
ul.ea-timeline > li > .ea-timeline-panel {
  position: relative;
  float: right;
  width: 88%;
  text-align: left;
  padding-left: 40px;
  margin-top: -10px;
}
ul.ea-timeline > li > .ea-timeline-panel .ea-news-item {
  margin: 10px 0;
}
ul.ea-timeline > li > .ea-timeline-panel .ea-news-item a {
  color: #323232;
  font-size: 16px;
}
ul.ea-timeline.narrow-view {
  margin-left: 15px;
}
ul.ea-timeline.narrow-view:before {
  left: 31%;
}
ul.ea-timeline.narrow-view > li > .ea-timeline-date {
  width: 26%;
}
ul.ea-timeline.narrow-view > li > .ea-timeline-badge {
  left: 31%;
}
ul.ea-timeline.narrow-view > li > .ea-timeline-panel {
  width: 70%;
}
/*# sourceMappingURL=events.css.map */