﻿<svg viewBox="0 0 20 20" focusable="false">
    <line x1="4" y1="4" x2="16" y2="16" style="stroke:rgb(255,255,255);stroke-width:1" />
    <line x1="4" y1="16" x2="16" y2="4" style="stroke:rgb(255,255,255);stroke-width:1" />
</svg>