﻿<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
<g>
<path d="M4,4.385v55.229h56V4.385H4z M53.287,8.417c0.949,0,1.723,0.773,1.723,1.724c0,0.95-0.773,1.723-1.723,1.723
		c-0.95,0-1.724-0.773-1.724-1.723C51.563,9.19,52.337,8.417,53.287,8.417z M48.12,8.417c0.949,0,1.723,0.773,1.723,1.724
		c0,0.95-0.773,1.723-1.723,1.723c-0.95,0-1.724-0.773-1.724-1.723C46.396,9.19,47.17,8.417,48.12,8.417z M9.247,8.476h11.316v2.77
		H9.247V8.476z M58.383,58H5.618V16.233h52.765V58z" />
</g>
</svg>