﻿<svg xmlns:dc="http://purl.org/dc/elements/1.1/"
     xmlns:cc="http://creativecommons.org/ns#"
     xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
     xmlns:svg="http://www.w3.org/2000/svg"
     xmlns="http://www.w3.org/2000/svg"
     version="1.1"
     viewBox="0 0 67 67"
     id="Layer_1"
     xml:space="preserve"><metadata id="metadata3011"><rdf:RDF><cc:Work rdf:about="">
<dc:format>image/svg+xml</dc:format><dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" /><dc:title></dc:title></cc:Work></rdf:RDF></metadata><defs id="defs3009" />


<g id="layer3"
   style="display:inline">
<path d="M 28.473702,63.096876 C 18.852458,61.499096 10.489984,55.279494 6.2334467,46.555658 3.9671944,41.910982 3.5,39.676962 3.5,33.485191 3.5,28.530175 3.6230873,27.313125 4.3747919,24.835617 7.338445,15.067901 14.804741,7.5735261 24.733145,4.4007243 c 2.446826,-0.7819308 3.586796,-0.9007229 8.643576,-0.9007229 5.061587,0 6.192699,0.1181003 8.630339,0.9010998 C 50.649361,7.1771055 56.851234,12.509264 60.792001,20.551761 62.703967,24.453778 63.5,28.199148 63.5,33.292977 c 0,5.515927 -0.860437,9.117947 -3.316111,13.882213 -5.967153,11.576866 -18.867967,18.054367 -31.710187,15.921686 l 0,0 z"
      id="path3220"
      style="fill:transparent;fill-opacity:1;display:inline" />
    <text x="15.664063"
          y="41.773438"
          id="text3108"
          xml:space="preserve"
          style="font-size:40px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#f0f0f0;fill-opacity:1;stroke:none;display:inline;font-family:Arial;-inkscape-font-specification:Arial">
        <tspan x="10.664063"
                     y="44.773438"
                     id="tspan3110">[e]</tspan>
    </text>
</g></svg>