﻿<svg ng-nonbindable enable-background="new 0 0 96 96" id="empty" version="1.1" viewBox="0 0 96 96" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<path d="M12,16c0-2.21,1.79-4,4-4h12V4H16C9.37,4,4,9.37,4,16v12h8V16z" fill="#ffffff" />
<rect height="8" width="24" x="36" y="4" fill="#ffffff" />
<rect height="24" width="8" x="4" y="36" fill="#ffffff" />
<path d="M16,84c-2.21,0-4-1.79-4-4V68H4v12c0,6.63,5.37,12,12,12h12v-8H16z" fill="#ffffff" />
<rect height="24" width="8" x="84" y="36" fill="#ffffff" />
<path d="M80,4H68v8h12c2.21,0,4,1.79,4,4v12h8V16C92,9.37,86.63,4,80,4z" fill="#ffffff" />
<rect height="8" width="24" x="36" y="84" fill="#ffffff" />
<path d="M84,80c0,2.21-1.79,4-4,4H68v8h12c6.63,0,12-5.37,12-12V68h-8V80z" fill="#ffffff" />
</svg>